* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
  }

  nav {
    background: #ffd6cf;
    height: 80px;
    width: 100%;
  }

  .title {
    color: rgb(51, 14, 37);
    font-size: 25px;
    line-height: 80px;
    font-weight: bold;
    padding-left: 300px;
  }

  #logo{
    padding-top: 10px;
    padding-left: 10px;
  }

  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a {
    background-color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    color: rgb(58, 12, 24);
    font-weight: 550;
  }

  a.active,
  a:hover {
    background: #ffa7a7;
    transition: .5s;
  }

  #footer{
    display: flex;
    background-color: #a3a3a3;
    flex-direction: row;
    justify-content: center;
    font-size: small;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 25px;
    bottom: 0;
    position:absolute;
  }

.footerTitle{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 30px;
}

.footerContent{
    padding-left: 30px;
    padding-bottom: 10px;
    color: black;
}

#citationBox{
  display:flex;
  flex-direction: column;
  height:100%;
  width:100%;
  align-items: center;
}

ol{
  margin-top:15px;
}

h2{
  text-align: center;
  margin-top:10px;
}

h3{
  padding-top: 20px;
  font-size: larger;
  font-weight: normal;
  line-height: 110%;
  width: 90%;
}

body{
  background-color: #a3a3a3;
}